@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

#cta {
    background-image: url('./images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover
}